<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{59,65}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,14},{59,65}}</string>
                <key>sourceSize</key>
                <string>{63,79}</string>
            </dict>
            <key>s_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,138},{59,65}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{59,65}}</string>
                <key>sourceSize</key>
                <string>{63,79}</string>
            </dict>
            <key>s_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,2},{59,65}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{59,65}}</string>
                <key>sourceSize</key>
                <string>{63,79}</string>
            </dict>
            <key>s_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{61,65}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{61,65}}</string>
                <key>sourceSize</key>
                <string>{63,79}</string>
            </dict>
            <key>s_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{63,67}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{63,67}}</string>
                <key>sourceSize</key>
                <string>{63,79}</string>
            </dict>
            <key>s_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,2},{59,63}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,16},{59,63}}</string>
                <key>sourceSize</key>
                <string>{63,79}</string>
            </dict>
            <key>s_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,71},{59,65}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{59,65}}</string>
                <key>sourceSize</key>
                <string>{63,79}</string>
            </dict>
            <key>s_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,71},{61,65}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{61,65}}</string>
                <key>sourceSize</key>
                <string>{63,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>luoli1.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2bf0046758f6e5c92fce029ac8e6ce1:1/1$</string>
            <key>textureFileName</key>
            <string>luoli1.png</string>
        </dict>
    </dict>
</plist>
